services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - laravel
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www:ro
    networks:
      - laravel
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: akademik_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ^@L4b0r!@#141n&1125!^
      MYSQL_DATABASE: db_akademikiain
      MYSQL_USER: db_akademikiain
      MYSQL_PASSWORD: s77CWCmAyBCePf4rCd
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  db_data: